apipkg==1.4
appdirs==1.4.3
arrow==0.10.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
click==6.7
colorama==0.3.9
colormap==1.0.1
cryptography==2.1.3
cycler==0.10.0
easydev==0.9.35
enum34==1.1.6
et-xmlfile==1.0.1
execnet==1.5.0
extras==1.0.0
fake-factory==9999.9.9
Faker==0.8.6
fixtures==3.0.0
Flask==0.12.2
gdata==2.0.18
gevent==1.2.2
glob2==0.6
greenlet==0.4.12
gspread==0.6.2
httplib2==0.10.3
idna==2.6
ipaddress==1.0.18
itsdangerous==0.24
jdcal==1.3
Jinja2==2.9.6
junit-xml==1.8
linecache2==1.0.0
locustio==0.8.1
lxml==4.1.0
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.1.0
msgpack-python==0.4.8
ndg-httpsclient==0.4.3
needle==0.5.0
nose==1.3.7
nose-html-reporting==0.2.3
ntlm-auth==1.0.6
numpy==1.13.3
oauth2client==4.1.2
olefile==0.44
openpyxl==2.4.9
ordereddict==1.1
parse==1.8.2
parse-type==0.4.2
pbr==3.1.1
Pillow==4.3.0
pip==9.0.1
prettyprint==0.1.5
py==1.4.34
pyasn1==0.3.7
pyasn1-modules==0.1.5
pycparser==2.18
pymssql==2.1.3
pyodbc==4.0.21
pyOpenSSL==17.3.0
pyparsing==2.2.0
pytest==3.2.3
pytest-bdd==2.18.2
pytest-rerunfailures==3.1
pytest-xdist==1.20.1
python-dateutil==2.6.1
python-mimeparse==1.6.0
python-ntlm==1.1.0
pytz==2017.3
requests==2.18.4
requests-ntlm==1.1.0
retrying==1.3.3
rsa==3.4.2
selenium==3.7.0
setuptools==36.6.0
simplejson==3.11.1
six==1.11.0
splinter==0.7.7
SQLAlchemy==1.1.14
suds==0.4
testtools==2.3.0
tfslib==0.1.2
traceback2==1.4.0
Unidecode==0.4.21
unittest2==1.1.0
urllib3==1.22
utils==0.9.0
validate-email==1.3
voluptuous==0.10.5
Werkzeug==0.12.2
wheel==0.30.0
xmltodict==0.11.0
